<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Django Ajax</title>
</head>
<body>
<h1>Django Ajax Example</h1>


<!-- Le formulaire -->
<form method="POST">
    {% csrf_token %}
    <label for="operation">Opération</label>
    <input type="text" id="a"> + <input type="text" id="b">
    <input id="ajax-call" type="submit" value="Calculer">
</form>

<!-- Nous afficherons le résultat de l'opération ici -->
<p id="ajax"></p>


<script>
document.querySelector("#ajax-call").addEventListener("click", event => {
    event.preventDefault();
    let formData = new FormData();
    formData.append('a', document.querySelector("#a").value);
    formData.append('b', document.querySelector("#b").value);
    let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const request = new Request('{% url "compute" %}', {
        method: 'POST',
        body: formData,
        headers: {'X-CSRFToken': csrfTokenValue}
    });
    fetch(request)
        .then(response => response.json())
        .then(result => {
            const resultElement = document.querySelector("#ajax");
            resultElement.innerHTML = result["operation_result"];
        })
})
</script>

</body>
</html>